<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oceantreasur.es">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="oceantreasur.OceanTreasuresApplication"
        android:allowBackup="true"
        android:icon="@mipmap/oceantreasureslogo"
        android:label="Ocean Treasures"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecretActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".BaseUrlActivity"
            android:screenOrientation="landscape">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b7155b53c9288994ad3b705de5b5acaaa9abd5a7" />
    </application>

</manifest>